modules = ["python-3.11", "nodejs-20", "web"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "flask-api-backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "react-dashboard"

[[workflows.workflow]]
name = "flask-api-backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "FLASK_PORT=8000 python fairlens_backend/app.py"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "react-dashboard"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "DANGEROUSLY_DISABLE_HOST_CHECK=true npx vite --port 5000 --host 0.0.0.0 --strictPort"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 41765
externalPort = 3000

[[ports]]
localPort = 43019
externalPort = 3003

[[ports]]
localPort = 43407
externalPort = 3002

[agent]
expertMode = true
